<div class="container gen-view">
	<div class="row">
		<h2>Create playlists that everyone will enjoy.</h2>
    	<div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" id="search-bar" placeholder="Enter a Spotify URI (right click on a user and copy the Spotify URI)" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit" id="search-now">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
	</div>
	<div class="playlist-gen">
	</div>
</div>