<h1 class="head">Library</h1>
<ul class="songlist">
	{{#each songList}}
		<hr class="track-divider">
		<li class="track">
			<a href="https://open.spotify.com/track/{{this.trackId}}" target="_blank">
			<svg
	           xmlns:dc="http://purl.org/dc/elements/1.1/"
	           xmlns:cc="http://creativecommons.org/ns#"
	           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	           xmlns:svg="http://www.w3.org/2000/svg"
	           xmlns="http://www.w3.org/2000/svg"
	           version="1.1"
	           id="svg4136"
	           viewBox="0 0 192 192"
	           style="
	           	height: 20px;
	           	width: 20px;
	           ">
	          <defs
	             id="defs4138" />
	          <metadata
	             id="metadata4141">
	            <rdf:RDF>
	              <cc:Work
	                 rdf:about="">
	                <dc:format>image/svg+xml</dc:format>
	                <dc:type
	                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
	                <dc:title></dc:title>
	              </cc:Work>
	            </rdf:RDF>
	          </metadata>
	          <g
	             transform="translate(0,-860.36216)"
	             id="layer1" />
	          <g
	             id="layer2">
	            <path
	               transform="matrix(1.1764192,0,0,1.0752327,-27.131273,-3.224908)"
	               d="M 43.564355,162.29703 42.948727,24.038598 162.99185,92.634664 Z"
	               id="path8014"
	               style="fill:#88888f;fill-opacity:1;stroke:#88888f;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
	          </g>
	        </svg>
			</a>
			{{this.name}} {{this.artist}}
		</li>
	{{/each}}
</ul>
