/**
 * Bootstrap font override
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #C8C8C8;
}

p,
div {
    font-family: 'Open Sans', sans-serif;
    color: #C8C8C8;
}


/**
 * sidebar stuffs
 */

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
}

.bs-sidebar {
    width: 90px;
    height: 100%;
    background-color: black;
}

.svg-icon {
    margin-left: 25px;
    width: 40px;
    height: 40px;
}

.sidebar-containers {
    padding-top: 15px;
    padding-bottom: 15px;
}

#sidebar-logo {
    margin: 25px;
    margin-top: 20px;
    margin-left: 25px;
}


/**
 * Main View
 */

.main-container {
    padding-left: 90px;
}

#main-header {
    margin-top: 0;
    padding-top: 20px;
    margin-left: 30px;
    padding-bottom: 10px;
}


/**
 * Songlist view (aka home)
 */

.songlist {
    list-style-type: none;
    padding-left: 0;
}

.track {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
}

.track-divider {
    padding: 0;
    margin: 0;
    border-color: #1B1B1B;
}


/**
 * Loader
 */

.loader {
    margin-top: 50px;
    margin-left: 200px;
}


/**
 * Pie
 */

.pie-labels {
    fill: white;
}

.pie-chart {
    width: 900px;
    height: 100%;
}

path.slice:hover {
    fill: #ADD8E6;
    cursor: pointer;
}

path.slice {
    stroke-width: 2px;
    color: white;
    z-index: -1;
}

polyline {
    opacity: .3;
    stroke: white;
    stroke-width: 2px;
    fill: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


/**
 * Line
 */

#visualization {
    float: left;
}

.legend-button {
    float: left;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
    fill: white;
}

.legend {
    font-size: 14px;
    font-weight: bold;
    fill: white;
}

.line-paths:hover {
    cursor: pointer;
}


/**
 * Search
 */

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}
.search-query:focus + button {
    z-index: 3;
}


/**
 * no highlighting
 */

body {
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}