.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
    background-color: black;
}
.bs-sidebar {
	width: 40px;
	height: 100%;
	background-color: black;
}
body {
	background-color: #121212
}