/**
 * Bootstrap font override
 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}

/**
 * sidebar stuffs
 */
.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
}

.bs-sidebar {
    width: 90px;
    height: 100%;
    background-color: black;
}

.svg-icon {
    margin-left: 25px;
    width: 40px;
    height: 40px;
}

.sidebar-containers {
    padding-top: 15px;
    padding-bottom: 15px;
}

#sidebar-logo {
    margin: 25px;
    margin-top: 20px;
    margin-left: 25px;
}
/**
 * Main View
 */
.main-container {
    padding-left: 120px;
}
#main-header {
    margin-top: 0;
    padding-top: 20px;
    color: #C8C8C8;
}

/**
 * no highlighting
 */
body {
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
