.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
    background-color: black;
}

.bs-sidebar {
    width: 60px;
    height: 100%;
    background-color: black;
}

.svg-icon {
    width: 40px;
    height: 40px;
}

body {
    background-color: #121212;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
