<div class="bs-sidebar affix">
    <ul class="nav bs-sidenav">
        <li class="active">
            <ul class="nav">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <object type="image/svg+xml" class="svg-icon" data="../icons/svgfiles/singlelogo.svg">Your browser does not support SVG</object>
                <object type="image/svg+xml" class="svg-icon" data="icons/svgfiles/singlelogo.svg">Your browser does not support SVG</object>
                <li></li>
            </ul>
        </li>
    </ul>
</div>